
$tooltip_color: #000000;
$text_color: white;
$arrow_size: 7px;

.simple-tooltip {
	position: absolute;
  display: inline-block;
}

.simple-tooltip-body {
	display: block;
	background-color: $tooltip_color;
	border-radius: 3px;
	padding: 5px 10px;
	text-align: center;
	color: $text_color;
}

.simple-tooltip-arrow {
	position: absolute;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: $arrow_size;
}
.simple-tooltip-bottom .simple-tooltip-arrow {
	border-color: transparent transparent $tooltip_color transparent;
	top: - 2 * $arrow_size;
	margin-left: 50%;
	left: -$arrow_size;
}
.simple-tooltip-top .simple-tooltip-arrow {
	border-color: $tooltip_color transparent transparent transparent;
	bottom: - 2 * $arrow_size;
	margin-left: 50%;
	left: -$arrow_size;
}
.simple-tooltip-right .simple-tooltip-arrow {
	border-color: transparent $tooltip_color transparent transparent;
	left:  - 2 * $arrow_size;
	margin-top: -$arrow_size;
	top: 50%;
}
.simple-tooltip-left .simple-tooltip-arrow {
	border-color: transparent transparent transparent $tooltip_color;
	right: - 2 * $arrow_size;
	margin-top: -$arrow_size;
	top: 50%;
}