.simple-tooltip {
  position: absolute;
  display: inline-block;
}

.simple-tooltip-body {
  display: block;
  background-color: #000000;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  color: white;
}

.simple-tooltip-arrow {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px;
}

.simple-tooltip-bottom .simple-tooltip-arrow {
  border-color: transparent transparent #000000 transparent;
  top: -14px;
  margin-left: 50%;
  left: -7px;
}

.simple-tooltip-top .simple-tooltip-arrow {
  border-color: #000000 transparent transparent transparent;
  bottom: -14px;
  margin-left: 50%;
  left: -7px;
}

.simple-tooltip-right .simple-tooltip-arrow {
  border-color: transparent #000000 transparent transparent;
  left: -14px;
  margin-top: -7px;
  top: 50%;
}

.simple-tooltip-left .simple-tooltip-arrow {
  border-color: transparent transparent transparent #000000;
  right: -14px;
  margin-top: -7px;
  top: 50%;
}
